body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FEF9F5;
  }
  
  header {
    background-color: #854627;
    color: white;
    height: 120px;
  }
  
  footer {
    background-color: #39312F;
    color: white;
    height: 80px;

  }
  

  table {
    width: 80%;
    margin: 30px auto;

  }
  
  td {
    width: 100px;
    height: 100px;
  }
  
  #cel1 { background-color: #F1E0D0; }
  #cel2 { background-color: #7B7457; }
  #cel3 { background-color: #CF8E54; }
  #cel4 { background-color: #FEF9F5; }
  
  #cel5 { background-color: #854627;}
  #cel6 { background-color: #39312F; }
  #cel7 { background-color: #F1E0D0; }
  #cel8 { background-color: #7B7457; }
  
  #cel9 { background-color: #CF8E54; }
  #cel10 { background-color: #FEF9F5; }
  #cel11 { background-color: #854627; }
  #cel12 { background-color: #39312F; }
  
  #cel13 { background-color: #7B7457; }
  #cel14 { background-color: #F1E0D0; }
  #cel15 { background-color: #CF8E54; }
  #cel16 { background-color: #FEF9F5; }